In [2]:
#translate from the matlab code
import xlrd
import pandas as pd
import numpy as np

NumSKU=49
NumVar=13
ID=[1138263,1139362,1139363,1141061,1142731,1143640,1144140,
        1148001,1148010,1148081,1162466,1162467,1162557,1162558,
        1162559,1163152,1163153,1164313,1164961,1164962,1165757,
        1166153,1166984,1166998,1167021,1167087,1167847,1167918,
        1170236,1170372,1170739,1173299,1174241,1174242,1174243,
        1174244,1174275,1174293,1174299,1174313,1174314,1174315,
        1174339,1174340,1175687,1175833,1175835,1175950,1177151]
tv_info = pd.read_excel('Television.xlsx', sheet_name='Main')
tv_info.head()

tv_sim = pd.read_excel('Television.xlsx', sheet_name='Similarity')
tv_sim.head()

         0.000000   17.844142  20.834505  9.750067   21.905940  0.894093   \
NaN NaN  17.844142   0.000000  27.431551  14.944885  12.706567  17.821728
    NaN  20.834505  27.431551   0.000000  23.003052  30.231553  20.853681
    NaN   9.750067  14.944885  23.003052   0.000000  19.616483   9.708985
    NaN  21.905940  12.706567  30.231553  19.616483   0.000000  21.887686
    NaN   0.894093  17.821728  20.853681   9.708985  21.887686   0.000000

         19.265503  24.729611  23.803797  20.211640    ...      40.088165  \
NaN NaN  26.259722  30.495361  15.754598  26.961524    ...      35.897737
    NaN   7.932022  13.322052  31.633801   5.056304    ...      45.178950
    NaN  21.592207  26.582277  21.715362  22.440459    ...      38.884407
    NaN  29.172416  33.036705   9.313997  29.805714    ...      33.573661
    NaN  19.286239  24.745768  23.787000  20.231406    ...      40.078193

         23.526387  28.762201  11.058166  11.539788  31.164077  19.698090  \
NaN NaN  15.332237  22.557722  14.004654  13.610536  25.549684   8.342744
    NaN  31.425586  35.515360  23.587277  23.816870  37.487015  28.672135
    NaN  21.410910  27.059202   5.217206   6.172754  29.599593  17.115810
    NaN   8.580248  18.638509  18.909976  18.619977  22.165954   9.584125
    NaN  23.509391  28.748301  11.021962  11.505099  31.151249  19.677788

         11.828990  21.488776  30.696271
NaN NaN  13.359954  11.973057  24.976943
    NaN  23.958331  29.930654  37.099025
    NaN   6.697852  19.149508  29.106654
    NaN  18.437603   4.254732  21.503276
    NaN  11.795152  21.470167  30.683248

[5 rows x 49 columns]

In [3]:
new_tv_info = pd.read_excel('C:/Users/wyd15/Downloads/Television.xlsx', sheet_name='new_tv_info') #processed by matlab
new_tv_info.head()

,ID,Date,SalesQuantity,SalesQuantityLag1,SalesQuantityLag7,SalesQuantityLag14,Price,Discount,InventoryAvailability,WeekOfYear,...,Var75,Var76,Var77,Var78,Var79,Var80,Var81,Var82,Var83,Var84
0,1,2016-01-01,2,1,1,1,2626.27000,1.01,0.93,1,...,1779.66000,1.01,2329.659900,1.01,2533.055050,1.01,2541.530000,1.01,1753.387550,1.01
1,1,2016-01-02,6,2,1,1,2651.69398,1.01,0.93,1,...,1880.51008,1.01,2365.113317,1.01,2555.651667,1.01,2794.132285,1.01,1842.372600,1.01
2,1,2016-01-03,5,6,1,1,2774.57500,1.01,0.93,1,...,1851.69608,1.01,2355.083980,1.01,2725.285017,1.01,2835.449192,1.01,1789.243869,1.01
3,1,2016-01-04,6,5,1,1,2795.76000,1.01,0.93,2,...,1876.27505,1.01,2468.837450,1.01,2965.260000,1.01,2721.716275,1.01,1905.935100,1.01
4,1,2016-01-05,2,6,1,1,2795.76000,1.01,0.93,2,...,1876.27505,1.01,2468.837450,1.01,2626.273333,1.01,3473.720000,1.01,1905.925200,1.01

# neural network train

In [1]:
#import libraries and packages
%matplotlib inline
import matplotlib.pyplot as plt
import tensorflow as tf
import numpy as np
import math
#translate from the matlab code
import xlrd
import pandas as pd

from tensorflow.python.keras.models import Sequential
from tensorflow.python.keras.layers import InputLayer, Input
from tensorflow.python.keras.layers import Reshape, MaxPooling2D
from tensorflow.python.keras.layers import Conv2D, Dense, Flatten
from keras.models import Sequential
from keras.layers import Dense, Activation

#train data
new_tv_info = pd.read_excel('C:/Users/wyd15/Downloads/Television.xlsx', sheet_name='new_tv_info') #processed by matlab
tv_sim = pd.read_excel('Television.xlsx', sheet_name='Similarity')
#tv_sim.head()

Using TensorFlow backend.

In [2]:
print(len(new_tv_info))
new_tv_info.head()

24697

,ID,Date,SalesQuantity,SalesQuantityLag1,SalesQuantityLag7,SalesQuantityLag14,Price,Discount,InventoryAvailability,WeekOfYear,...,Var75,Var76,Var77,Var78,Var79,Var80,Var81,Var82,Var83,Var84
0,1,2016-01-01,2,1,1,1,2626.27000,1.01,0.93,1,...,1779.66000,1.01,2329.659900,1.01,2533.055050,1.01,2541.530000,1.01,1753.387550,1.01
1,1,2016-01-02,6,2,1,1,2651.69398,1.01,0.93,1,...,1880.51008,1.01,2365.113317,1.01,2555.651667,1.01,2794.132285,1.01,1842.372600,1.01
2,1,2016-01-03,5,6,1,1,2774.57500,1.01,0.93,1,...,1851.69608,1.01,2355.083980,1.01,2725.285017,1.01,2835.449192,1.01,1789.243869,1.01
3,1,2016-01-04,6,5,1,1,2795.76000,1.01,0.93,2,...,1876.27505,1.01,2468.837450,1.01,2965.260000,1.01,2721.716275,1.01,1905.935100,1.01
4,1,2016-01-05,2,6,1,1,2795.76000,1.01,0.93,2,...,1876.27505,1.01,2468.837450,1.01,2626.273333,1.01,3473.720000,1.01,1905.925200,1.01

## Sequential Model

In [34]:
import tensorflow as tf
import numpy as np


def get_placeholder(input1_dim=18, input2_dim=61):
    return tf.placeholder(shape=(None, input1_dim), dtype=tf.float32), \
           tf.placeholder(shape=(None, input2_dim), dtype=tf.float32), \
           tf.placeholder(shape=(None, ), dtype=tf.float32)


def get_output(input1, input2):
     
    input1_dim = input1.get_shape()[1]
    input2_dim = input2.get_shape()[1]
    W1_1 = tf.get_variable('W1_1', shape=(input1_dim, input1_dim+input2_dim))
    W1_2 = tf.get_variable('W1_2', shape=(input2_dim, input1_dim+input2_dim))
    b1 = tf.get_variable('b1', shape=(1, input1_dim+input2_dim))
    
    o1_1 = tf.matmul(input1, W1_1)
    o1_2 = tf.matmul(input2, W1_2)
    o1 = o1_1 + o1_2 + b1
    o1 = tf.nn.sigmoid(o1)

    W2_1 = tf.get_variable('W2_1', shape=(input2_dim, 1))
    W2_2 = tf.get_variable('W2_2', shape=(input1_dim+input2_dim, 1))
    b2 = tf.get_variable('b2', shape=(1, 1))
    o2_1 = tf.matmul(input2, W2_1)
    o2_2 = tf.matmul(o1, W2_2)
    o2 = o2_1 + o2_2 + b2
    o2 = tf.reshape(o2, (-1, ))
    
    saver = tf.train.Saver([W1_1, W1_2, b1, W2_1, W2_2, b2])
    Vars=[W1_1, W1_2, b1, W2_1, W2_2, b2]
    
    return o2, saver, Vars


def get_loss(labels, predictions):
    return tf.losses.mean_squared_error(labels, predictions)


def main():
    tf.reset_default_graph()
    
    batch_size = 50
    learning_rate = 0.5
    tf.reset_default_graph()
    x1, x2, y = get_placeholder(18, 61)
    output, saver, Vars = get_output(x1, x2)

    loss = get_loss(y, output)
    optimizer = tf.train.AdamOptimizer(learning_rate=learning_rate)
    train_op = optimizer.minimize(loss, global_step=tf.train.get_global_step())
    
    #train-test_splie
    msk = np.random.rand(len(new_tv_info)) < 0.85
    tv_train = new_tv_info[msk]
    tv_test = new_tv_info[~msk]
    
    with tf.Session() as sess:
        
        sess.run(tf.global_variables_initializer())
        
        for step in range(493):
            x1_train = tv_train.iloc[step:step+batch_size, 66:84].values 
            x2_train = np.concatenate((tv_train.iloc[step:step+batch_size, 3:11].values, tv_train.iloc[step:step+batch_size, 14:67].values), 1) 
            y_train = tv_train.iloc[step:step+batch_size, 2].values 
            
            x1_test = tv_test.iloc[step:step+batch_size, 66:84].values 
            x2_test = np.concatenate((tv_test.iloc[step:step+batch_size, 3:11].values, tv_test.iloc[step:step+batch_size, 14:67].values), 1) 
            y_test = tv_test.iloc[step:step+batch_size, 2].values 
            
            _train_loss, _ = sess.run([loss, train_op],
                                   feed_dict={x1: x1_train,
                                              x2: x2_train,
                                              y: y_train})
            
            _test_loss= sess.run([loss],
                                   feed_dict={x1: x1_test,
                                              x2: x2_test,
                                              y: y_test})
            
            #results, _ = sess.run([output]) #print parameters, W1_1 etc..
            
            if step % 100==0:
                saver.save(sess, 'C:/Users/wyd15/Desktop/tv_model/tv_modelslack.ckpt', global_step=step)
                print("iter: %d, train_loss: %f, test_loss: %f"%(step, _train_loss,  _test_loss[0]))
                print('train parameters results:', Vars[0].eval().shape)
                #print('output:', )


if __name__ == '__main__':
    main()

iter: 0, train_loss: 344525.156250, test_loss: 3664404.750000
train parameters results: (18, 79)
iter: 100, train_loss: 95.746979, test_loss: 2877.747070
train parameters results: (18, 79)
iter: 200, train_loss: 21.615267, test_loss: 516.666260
train parameters results: (18, 79)
iter: 300, train_loss: 1.153113, test_loss: 9.923587
train parameters results: (18, 79)
iter: 400, train_loss: 0.271600, test_loss: 0.927655
train parameters results: (18, 79)

In [8]:
# tensorflow nn
#unfolded version
#reference code: https://github.com/yl3829/Spring2018-Project5-grp5/blob/master/lib/model_tb.py  

# D = tf.placeholder(dytpe=np.floate32)
# w1_1 = tf.Variable((18,79),name='W1_1')
# w1_2 = tf.Variable((61,79),name='W1_2')
# b1 = tf.Variable((79,),name='b1')
# param = [w1_1,w1_2,b1]
tf.reset_default_graph()
x1=tf.placeholder(shape=(None, 18), dtype=tf.float32)
x2=tf.placeholder(shape=(None, 61), dtype=tf.float32)
y =tf.placeholder(shape=(None, ), dtype=tf.float32)

#
W1_1 = tf.get_variable('W1_1', shape=(18, 79))
W1_2 = tf.get_variable('W1_2', shape=(61, 79))
b1 = tf.get_variable('b1', shape=(1, 79))
    
o1_1 = tf.matmul(x1, W1_1)
o1_2 = tf.matmul(x2, W1_2)
o1 = o1_1 + o1_2 + b1
o1 = tf.nn.sigmoid(o1)

W2_1 = tf.get_variable('W2_1', shape=(61, 1))
W2_2 = tf.get_variable('W2_2', shape=(79, 1))
b2 = tf.get_variable('b2', shape=(1, 1))

o2_1 = tf.matmul(x2, W2_1)
o2_2 = tf.matmul(o1, W2_2)
o2 = o2_1 + o2_2 + b2
o2 = tf.reshape(o2, (-1, ))

saver = tf.train.Saver([W1_1, W1_2, b1, W2_1, W2_2, b2])
#

loss = tf.losses.mean_squared_error(y, o2)
optimizer = tf.train.AdamOptimizer(learning_rate=0.5)
train_op = optimizer.minimize(loss, global_step=tf.train.get_global_step())
    
# layer1_out  = tf.nn.sigmoid(tf.matmul(input1,w1_1) + tf.matmul(input2,w1_2) + b1) # tanh would be better
# # example to minimize layer1 out put
# losses = layer2_out - D
# loss = tf.reduce_mean(losses)
# trainer = tf.train.AdamOptimizer()
# gradients = trainer.compute_gradients(self.loss)
# optimizer = trainer.apply_gradients(gradients)

#train-test_splie
msk = np.random.rand(len(new_tv_info)) < 0.85
tv_train = new_tv_info[msk]
tv_test = new_tv_info[~msk]
batch_size=50

with tf.Session() as sess:
    sess.run(tf.global_variables_initializer())
    for step in range(493):
        x1_train = tv_train.iloc[step:step+batch_size, 66:84].values 
        x2_train = np.concatenate((tv_train.iloc[step:step+batch_size, 3:11].values, tv_train.iloc[step:step+batch_size, 14:67].values), 1) 
        y_train = tv_train.iloc[step:step+batch_size, 2].values 
            
        x1_test = tv_test.iloc[step:step+batch_size, 66:84].values 
        x2_test = np.concatenate((tv_test.iloc[step:step+batch_size, 3:11].values, tv_test.iloc[step:step+batch_size, 14:67].values), 1) 
        y_test = tv_test.iloc[step:step+batch_size, 2].values 
            
        _train_loss, _ = sess.run([loss, train_op],feed_dict={x1: x1_train,
                                              x2: x2_train,
                                              y: y_train})
            
        _test_loss= sess.run([loss],feed_dict={x1: x1_test,
                                              x2: x2_test,
                                              y: y_test})
        # predict
        D_predict = sess.run([o2], feed_dict={x1:x1_test,x2:x2_test})
        para_pred = sess.run([W1_1, W1_2, b1, W2_1, W2_2, b2], feed_dict={x1:x1_test,x2:x2_test})
        #results, _ = sess.run([output]) #print parameters, W1_1 etc..
            
        if step % 100==0:
            saver.save(sess, 'C:/Users/wyd15/Desktop/tv_model/tv_modelslack.ckpt', global_step=step)
            print("iter:%d, train_loss: %f, test_loss: %f"%(step, _train_loss,  _test_loss[0]))
            print('test prediction parameters results:', D_predict)
            #print('predicted parameters:', para_pred)
    print('last test prediction parameters results:', D_predict)
    paras=para_pred
                #print('output:', )

iter:0, train_loss: 56379.585938, test_loss: 4947716.000000
test prediction parameters results: [array([-2217.45703125, -2225.59375   , -2393.54150391, -2308.11962891,
       -2369.24682617, -2341.77075195, -2239.87353516, -2272.66040039,
       -2293.28564453, -2243.40673828, -2272.5871582 , -2324.9296875 ,
       -2304.40454102, -2347.95166016, -2402.86547852, -2291.9765625 ,
       -2284.80322266, -2252.75976562, -2472.20776367, -2198.14331055,
       -2282.48754883, -2257.44311523, -2231.95507812, -2234.52172852,
       -2222.41796875, -2213.06591797, -2226.78979492, -2248.84301758,
       -2175.31762695, -2242.14868164, -2226.65698242, -2190.80761719,
       -2160.546875  , -2073.97338867, -2189.89819336, -2153.55688477,
       -2113.53540039, -2150.45385742, -1976.93676758, -2134.35839844,
       -2280.49755859, -2234.45019531, -2162.3190918 , -2163.09790039,
       -2157.06298828, -2087.82324219, -2009.50817871, -1990.70690918,
       -1922.87976074, -2084.14697266], dtype=float32)]
iter:100, train_loss: 149.887863, test_loss: 397.684967
test prediction parameters results: [array([-27.98021698, -27.43686485, -26.06754684, -26.00558853,
       -15.19523716, -15.01512051, -15.02382946, -15.01720715,
       -15.33522701, -15.43175411, -15.48606777, -15.67276287,
       -16.13858795, -16.51840401, -16.40924644, -16.47789764,
       -16.71856117, -17.28226471, -17.38947678,  28.69902611,
        26.33597374,  30.83111763,  31.320467  ,  26.5957737 ,
        28.26277733,  28.93488884,  26.13222313,  26.4023571 ,
        19.13950539,  28.71094322,  19.11610985,  23.53746605,
        15.76229095,  11.06825256,  16.87646294,  11.79800034,
        16.83753204,   9.47390366,  20.55798912,   7.65328455,
        14.70867157,  13.15289116,  12.57922459,  17.30490494,
        21.13203239,  19.24073792,  19.19703102,  17.94743919,
        18.05659676,  17.89312553], dtype=float32)]
iter:200, train_loss: 3.600749, test_loss: 105.054337
test prediction parameters results: [array([ -5.36308432,  -5.76802588,  -6.33744955,  -7.18426847,
        -7.56706762,  -7.73917055,  -8.02241898,  -2.85950994,
        -0.76639795,  -0.65630007, -19.16545296, -19.06882858,
       -19.44869995, -19.12022781, -19.62021828, -19.39723587,
         1.80728579,   1.52403688,   1.33068514,   0.95754099,
         1.0686841 ,   0.67429209,   0.5021863 ,  -0.99966383,
        -2.26816511,  -2.15806532,  -1.28437567,  -0.30970526,
        12.74430656,  12.04432297,  11.63938141,   8.86956978,
         9.7365284 ,   8.46462822,   8.41030312,   7.90972376,
         8.01982307,   7.51532984,   7.62647486,   7.84380579,
         7.45332575,  15.18048096,  15.70291138,  16.67946625,
        20.47032166,  19.3759861 ,  17.68588829,  15.32151222,
        16.91354942,  13.86927032], dtype=float32)]
iter:300, train_loss: 1.877277, test_loss: 26.191425
test prediction parameters results: [array([ 3.41108441,  3.55471539,  3.00594783,  2.87476802,  3.23627114,
        2.9301002 ,  2.55046248,  4.23360348,  3.08457494,  3.42328668,
        3.41961598,  3.00872731,  3.06213689,  3.34743905,  2.9708035 ,
        4.05566978,  3.8664825 ,  3.87411475,  3.97982192,  4.11019039,
        3.79063487, -5.96219158, -6.11500263, -6.38976669, -5.92498398,
       -5.97054005, -4.90279198, -4.759161  , -4.62512207, -6.02182674,
       -6.06342125, -7.38974667, -6.23841763, -6.5248003 , -6.62618923,
       -6.74759293, -6.51820278, -0.88775396, -0.58362269, -0.71470714,
       -1.02663064, -5.34246635, -5.92536926, -5.99155235, -5.65712738,
       -6.10593987, -5.80515194, -5.80874348, -1.68927026,  1.11075127], dtype=float32)]
iter:400, train_loss: 0.278943, test_loss: 0.605521
test prediction parameters results: [array([ 0.48584092,  2.55194616,  2.65969276,  2.64618397,  0.19978464,
        0.65169007,  0.26905489,  0.35042524,  0.32593775,  0.16953599,
        0.18364775,  0.26167738,  0.38454103,  0.31212437, -0.04038131,
        0.17761743, -0.01763093,  0.12762487,  2.42963314,  2.1552701 ,
        2.13059664,  2.21379089,  1.43860209,  1.28974378,  1.38522851,
        1.91331565,  1.42547143,  1.39210689,  1.13534474,  1.27439737,
        1.0560019 ,  1.17748249,  1.04427052,  1.00260198,  1.28974378,
        1.11041987,  1.00813651,  1.07507479,  0.86900777,  0.92651248,
        1.20127559,  0.92533773,  0.79191661,  0.87823188,  0.96005917,
        0.8319447 ,  0.62361711,  0.53328979,  0.5077467 ,  0.57253188], dtype=float32)]
last test prediction parameters results: [array([ 3.29735518,  1.85655069,  2.56959724,  0.95375288,  2.50964737,
        1.46468782,  0.57055849,  0.48522294, -0.12474322,  1.86742628,
        1.82249546,  0.0726589 , -0.1878829 , -0.41906321, -0.6261996 ,
       -0.45418859, -0.46424341, -0.23836803, -0.16835845, -0.37492442,
       -0.2501452 ,  1.55839539,  1.97434139,  1.45882988,  1.41222858,
       -0.2403419 , -0.07595015, -0.21189773, -0.55594742, -0.07234883,
       -0.64247048, -0.68296731, -0.33832622, -0.46582687, -0.30029988,
       -0.56138957, -0.17643416, -0.20577514, -0.38271427, -0.53657305,
       -0.55916846, -0.72986305,  1.49461997,  1.44657195,  1.20536709,
        0.20210934,  0.32623458,  1.07994366,  0.08936393, -0.02812421], dtype=float32)]

In [73]:
print(o1_1, o2_2, o1, o2)

Tensor("MatMul:0", shape=(?, 79), dtype=float32) Tensor("MatMul_3:0", shape=(?, 1), dtype=float32) Tensor("Sigmoid:0", shape=(?, 79), dtype=float32) Tensor("Reshape:0", shape=(?,), dtype=float32)

In [74]:
paras

[array([[-0.12797862, -0.02464183, -0.15865442, ...,  0.07635032,
         -0.03283224,  8.78123856],
        [-0.14371137,  0.23066618,  0.16623376, ...,  0.23077138,
          0.01492186,  9.13104439],
        [-0.20466076,  0.02212043,  0.24548675, ...,  0.08024786,
          0.14321209,  8.84194374],
        ...,
        [-0.18475252,  0.1449744 ,  0.18428163, ...,  0.18591003,
         -0.09214811,  9.03209114],
        [ 0.06817509, -0.15058415, -0.1208737 , ..., -0.03315042,
         -0.05451523,  9.15025711],
        [-0.17511621,  0.19966353,  0.14326422, ...,  0.23431529,
          0.03261064,  8.78793621]], dtype=float32),
 array([[-0.03985462, -0.19516602, -0.01409601, ...,  0.15827347,
         -0.02134897,  9.12770748],
        [-0.09720873, -0.03819266, -0.20685363, ..., -0.19968246,
         -0.01345135,  9.13354969],
        [ 0.08976175, -0.13287601,  0.15176423, ..., -0.19269237,
          0.19692053,  8.79755592],
        ...,
        [ 0.04263309, -0.11816388, -0.13857107, ..., -0.07405436,
         -0.03310677, -0.15585843],
        [-0.10720734, -0.15139839,  0.14744388, ...,  0.14965741,
         -0.16488445,  0.12070371],
        [-0.11335835,  0.18344562,  0.17625396, ..., -0.03939515,
          0.04789694,  9.01753712]], dtype=float32),
 array([[ -1.28880143e-01,   9.13262367e-02,  -1.52415425e-01,
          -7.80011564e-02,   2.66598225e-01,  -2.01258704e-01,
           2.57942438e+00,   1.25757068e-01,  -2.28653878e-01,
          -3.27113080e+00,  -3.21315527e+00,  -6.64042011e-02,
           1.60042703e-01,  -3.60129571e+00,  -1.06340185e-01,
          -6.69215471e-02,  -3.92175078e-01,  -1.24579251e-01,
           4.66892421e-02,  -3.22398990e-02,   9.91152763e-01,
          -4.08292484e+00,   2.44522989e-01,   2.09165037e-01,
           2.09186733e-01,  -2.51727849e-02,  -1.83758438e-01,
           2.48069227e-01,  -2.36231014e-01,  -2.45451808e-01,
          -1.76694661e-01,  -2.65195400e-01,   6.24118745e-02,
           5.92141449e-02,   8.81648731e+00,  -2.94944572e+00,
          -8.88732076e-03,  -1.75190553e-01,  -2.20410034e-01,
           2.43190765e-01,  -7.29043037e-02,  -8.70623887e-02,
           1.63508326e-01,  -9.36285108e-02,  -1.04640521e-01,
          -2.42362082e-01,  -2.93166339e-02,  -1.88734084e-01,
           3.36424708e+00,  -2.24037290e-01,   1.36534065e-01,
          -3.59085500e-02,  -5.19813585e+00,  -8.54306966e-02,
          -2.50434130e-01,   2.65762687e-01,   1.45312786e-01,
          -4.73778456e-01,   2.15791106e-01,   1.29957676e-01,
          -1.39987707e-01,  -2.44318992e-02,   5.94207942e-02,
          -9.22319293e-03,   2.92110586e+00,   2.31056452e-01,
           1.17747247e-01,  -2.96663754e-02,  -4.03133929e-02,
           1.08844817e-01,  -1.51900575e-01,  -5.99324703e-05,
          -2.32602179e-01,  -1.41889632e-01,  -1.44107386e-01,
          -6.18523471e-02,  -1.19278431e-02,  -2.04455942e-01,
           8.89628887e+00]], dtype=float32),
 array([[  2.15664372e-01],
        [  2.95043867e-02],
        [  3.37305814e-01],
        [ -3.54482065e-04],
        [  2.24713031e-02],
        [ -2.36540541e-01],
        [ -2.03332715e-02],
        [  1.95428085e+00],
        [  2.09402144e-01],
        [ -2.80030102e-01],
        [ -1.01419732e-01],
        [ -2.38751888e-01],
        [ -3.32590342e-02],
        [ -7.45254606e-02],
        [ -1.52041331e-01],
        [  9.92755294e-02],
        [  1.71738207e-01],
        [ -9.57493186e-02],
        [ -1.20479494e-01],
        [  1.55475944e-01],
        [ -9.82978940e-03],
        [ -2.17073679e-01],
        [  1.47416711e-01],
        [ -1.02129519e-01],
        [ -2.43092090e-01],
        [  2.31292009e-01],
        [  2.36384809e-01],
        [  2.37142563e-01],
        [  1.76510811e-02],
        [  2.62824237e-01],
        [ -1.17800757e-01],
        [ -4.79929149e-02],
        [  8.76299441e-02],
        [ -1.54720306e-01],
        [  1.91961527e-02],
        [  3.09042871e-01],
        [  5.56714535e-02],
        [ -2.68763095e-01],
        [  3.08486581e-01],
        [ -1.61145821e-01],
        [  3.06005418e-01],
        [ -2.55234152e-01],
        [ -2.05627084e-01],
        [ -1.56848729e-02],
        [  5.18844724e-02],
        [  2.00290203e-01],
        [ -3.04167509e-01],
        [ -2.11405635e-01],
        [ -1.35725588e-01],
        [  4.82956767e-02],
        [  2.68960357e-01],
        [  2.49415636e-01],
        [  1.82641953e-01],
        [  1.74896389e-01],
        [  9.44031700e-02],
        [  9.70971510e-02],
        [ -1.62215397e-01],
        [ -1.23038962e-01],
        [ -7.90686384e-02],
        [ -1.26589641e-01],
        [ -8.28896591e-05]], dtype=float32),
 array([[ -7.75031298e-02],
        [ -7.23425299e-02],
        [ -2.44786039e-01],
        [ -1.82501078e-01],
        [  2.06926003e-01],
        [ -1.69141307e-01],
        [ -2.00671330e-01],
        [ -2.33596936e-01],
        [ -1.68653861e-01],
        [  4.47464794e-01],
        [  1.55362308e-01],
        [  5.40989971e+00],
        [  3.86104397e-02],
        [  6.63052425e-02],
        [ -2.11220697e-01],
        [ -5.85068651e-02],
        [ -7.35945606e+00],
        [ -1.29485086e-01],
        [  2.38705158e-01],
        [  1.09447718e-01],
        [ -1.61566898e-01],
        [  1.91234231e-01],
        [  1.28651997e-02],
        [ -2.29963541e-01],
        [ -2.11724237e-01],
        [ -1.18879050e-01],
        [  1.92309171e-01],
        [  1.27506286e-01],
        [  2.38267243e-01],
        [ -1.24703988e-01],
        [ -5.30044436e-02],
        [ -2.23504201e-01],
        [  3.07703018e-03],
        [ -1.81806073e-01],
        [  2.34306502e+00],
        [  2.97046638e+00],
        [ -1.36247024e-01],
        [ -5.46039315e-03],
        [ -2.01925874e-01],
        [  2.24427179e-01],
        [  2.32229337e-01],
        [ -5.27931601e-02],
        [ -1.68890193e-01],
        [  2.32868537e-01],
        [  1.41057000e-01],
        [  7.76764750e-02],
        [ -2.24799171e-01],
        [ -2.91790187e-01],
        [ -3.32765269e+00],
        [  2.19251603e-01],
        [  1.61561280e-01],
        [ -2.52479643e-01],
        [ -1.47889897e-01],
        [ -1.34020805e+00],
        [  2.16167457e-02],
        [  1.69929817e-01],
        [ -1.07934013e-01],
        [ -2.30635367e-02],
        [  2.18564838e-01],
        [  2.01932335e+00],
        [  2.05530739e+00],
        [ -2.43220404e-01],
        [  9.40452982e-03],
        [  2.01470315e-01],
        [ -1.92971230e-01],
        [ -9.87328440e-02],
        [ -2.69992858e-01],
        [ -3.21544576e+00],
        [ -2.50534683e-01],
        [  1.42958546e+00],
        [  8.08564723e-02],
        [  4.68843058e-02],
        [ -1.19259968e-01],
        [  3.82808298e-02],
        [ -2.72085607e-01],
        [  3.96944928e+00],
        [  4.73595262e-02],
        [  1.25783443e-01],
        [  4.20193374e-01]], dtype=float32),
 array([[ 1.5219878]], dtype=float32)]

In [93]:
#load and save the parameters from last nn, 


#build nn


#optimize the loss funciton by adding negative sign
tf.reset_default_graph()
p_f = tf.get_variable('p_f', shape=(1, 61)) #x2
#p_f = tf.placeholder(shape=(None, 61), dtype=tf.float32) #x2
#W2_1 = tf.get_variable('W2_1', shape=(61, 1))
#W1_1 = tf.placeholder(shape=(18, 79), dtype=tf.float32)
W1_1 = tf.constant(paras[0], dtype=tf.float32, name='W1_1' )
#W1_2 = tf.placeholder(shape=(61, 79), dtype=tf.float32)
W1_2 = tf.constant(paras[1], dtype=tf.float32, name='W1_2' )
#b1 = tf.placeholder(shape=(1, 79), dtype=tf.float32)
b1 = tf.constant(paras[2], dtype=tf.float32, name='b1' )
#W2_1 =tf.placeholder(shape=(61, 1), dtype=tf.float32)
W2_1 = tf.constant(paras[3], dtype=tf.float32, name='W2_1' )
#W2_2 = tf.placeholder(shape=(79, 1), dtype=tf.float32)
W2_2 = tf.constant(paras[4], dtype=tf.float32, name='W2_2' )
#b2 = tf.placeholder(shape=(1, 1), dtype=tf.float32)
b2 = tf.constant(paras[5], dtype=tf.float32, name='b2' )
p_sub =  tf.placeholder(shape=(None, 18), dtype=tf.float32)
#p_sub =  tf.get_variable('p_sub', shape=(1, 18))
D = tf.matmul(tf.nn.sigmoid(tf.matmul(p_f, W1_2) + tf.matmul(p_sub, W1_1)+b1), W2_2)+tf.matmul(p_f, W2_1)+b2
#print(D)

p_loss = tf.reduce_mean(-p_f*D) #self defined loss

###parameters
#loss_new_price = tf.reduce_mean(losses)
batch_size = 50
learning_rate = 0.5
trainer = tf.train.AdamOptimizer(learning_rate=learning_rate)
gradients = trainer.compute_gradients(p_loss)
optimizer = trainer.apply_gradients(gradients)

# train
#c_train = np.ones(( , 61)) #(bs, 61)
#y_train = tv_train.iloc[step:step+batch_size, 2].values #(bs,)

with tf.Session() as sess:
    #saver = tf.train.Saver([p_sub])
    sess.run(tf.global_variables_initializer())
    for step in range(493):
        #parameters 
        #x1_train = np.concatenate((tv_train.iloc[step:step+batch_size, 3:11].values, tv_train.iloc[step:step+batch_size, 14:67].values), 1)
        x1_train = tv_train.iloc[step:step+batch_size, 66:84].values 
        x1_test = tv_test.iloc[step:step+batch_size, 66:84].values

#         W1_1 = [l.tolist() for l in paras[0]]
#         W1_2 = [l.tolist() for l in paras[1]]
#         b1 = [l.tolist() for l in paras[2]]
#         W2_1 = [l.tolist() for l in paras[3]]
#         W2_2 = [l.tolist() for l in paras[4]]
#         b2 = [l.tolist() for l in paras[5]]
        
        loss_tr, _ = sess.run([p_loss, optimizer], feed_dict={p_sub: x1_train})
        _test_loss = sess.run([p_loss], feed_dict={p_sub: x1_test})
        
        # predict
        D_pred_tr = sess.run([D], feed_dict={p_sub:x1_train})
        D_pred_te = sess.run([D], feed_dict={p_sub:x1_test})
        pf_pred_tr = sess.run([p_f], feed_dict={p_sub:x1_train})
        pf_pred_te = sess.run([p_f], feed_dict={p_sub:x1_test})
        
        if step % 100 == 0:
            print("iter:%d, train_loss: %f, test_loss: %f"%(step, loss_tr,  _test_loss[0]))
            print('train D prediction parameters results:', D_pred_tr[0][0])
            print('test D prediction parameters results:', D_pred_te[0][0])
            print('train p_f prediction parameters results:', pf_pred_tr[0][0])
            print('test p_f prediction parameters results:', pf_pred_te[0][0])
        # save to disk ...
        # saver...
        
        # predict change to predict / save Price!
        #D_predict = sess.run([layer2_out], feed_dict={input1:X1_test,input2:X2_test})
        
        
        ##

iter:0, train_loss: 0.010566, test_loss: 0.608954
train D prediction parameters results: [-1.55027974]
test D prediction parameters results: [-1.51575053]
train p_f prediction parameters results: [ 0.67228687  0.2296139  -0.29587755  0.28358087  0.19866329  0.62586623
  0.58192712 -0.78725988  0.23486775  0.48170024  0.42531598  0.70966125
  0.49903339  0.63599986  0.42379194  0.69886136  0.5534876   0.63533586
  0.54864156  0.24417377  0.61396378  0.34163204  0.45218825  0.72521758
  0.36856967  0.33998907  0.66300887  0.7792201   0.29396209  0.42534399
  0.38760504  0.63766384  0.80229014  0.50336373  0.28535783 -0.80295902
  0.41856354  0.21278191 -0.49990118  0.49705222 -0.73471856  0.36634728
  0.74740744  0.26325041  0.3714588   0.44964105  0.52036899  0.68820477
  0.49722019  0.24486715  0.22733545  0.68728238  0.51375556  0.33253378
  0.30912346  0.30070296  0.74994135  0.54959834  0.61693633  0.7617718
  0.46830419]
test p_f prediction parameters results: [ 0.67228687  0.2296139  -0.29587755  0.28358087  0.19866329  0.62586623
  0.58192712 -0.78725988  0.23486775  0.48170024  0.42531598  0.70966125
  0.49903339  0.63599986  0.42379194  0.69886136  0.5534876   0.63533586
  0.54864156  0.24417377  0.61396378  0.34163204  0.45218825  0.72521758
  0.36856967  0.33998907  0.66300887  0.7792201   0.29396209  0.42534399
  0.38760504  0.63766384  0.80229014  0.50336373  0.28535783 -0.80295902
  0.41856354  0.21278191 -0.49990118  0.49705222 -0.73471856  0.36634728
  0.74740744  0.26325041  0.3714588   0.44964105  0.52036899  0.68820477
  0.49722019  0.24486715  0.22733545  0.68728238  0.51375556  0.33253378
  0.30912346  0.30070296  0.74994135  0.54959834  0.61693633  0.7617718
  0.46830419]
iter:100, train_loss: -23143.515625, test_loss: -23700.097656
train D prediction parameters results: [ 511.1109314]
test D prediction parameters results: [ 511.1109314]
train p_f prediction parameters results: [ 69.89045715  68.5027771   68.94913483  68.28155518  68.40526581
 -66.19631958  68.38420868  68.48413849  69.45089722 -67.69618988
  67.26055145 -66.22826385  68.16687012  67.83929443  65.77030945
  69.87343597  69.75476837  67.55644226  67.03917694  69.4378891
  68.52111816 -64.98455811  69.6421814   67.54961395 -66.77554321
  69.56301117  69.88757324  70.00392914  68.45652771  69.65676117
  66.93330383  68.1467514   69.97937012  65.65198517  68.46195984
  68.43764496  69.10014343 -67.74594116  68.74061584  64.96650696
  68.50532532 -67.23373413 -62.97242355  68.11231232  68.95817566
  69.66236115 -67.97589111 -63.94881058  66.59243774  68.7585907
  69.46018219  69.91526794  69.71968842  69.53516388  69.48444366
  69.47550964  65.06227112  66.98339081  67.76358032  67.1129837
  68.46887207]
test p_f prediction parameters results: [ 69.89045715  68.5027771   68.94913483  68.28155518  68.40526581
 -66.19631958  68.38420868  68.48413849  69.45089722 -67.69618988
  67.26055145 -66.22826385  68.16687012  67.83929443  65.77030945
  69.87343597  69.75476837  67.55644226  67.03917694  69.4378891
  68.52111816 -64.98455811  69.6421814   67.54961395 -66.77554321
  69.56301117  69.88757324  70.00392914  68.45652771  69.65676117
  66.93330383  68.1467514   69.97937012  65.65198517  68.46195984
  68.43764496  69.10014343 -67.74594116  68.74061584  64.96650696
  68.50532532 -67.23373413 -62.97242355  68.11231232  68.95817566
  69.66236115 -67.97589111 -63.94881058  66.59243774  68.7585907
  69.46018219  69.91526794  69.71968842  69.53516388  69.48444366
  69.47550964  65.06227112  66.98339081  67.76358032  67.1129837
  68.46887207]
iter:200, train_loss: -114036.500000, test_loss: -115300.945312
train D prediction parameters results: [ 1127.34191895]
test D prediction parameters results: [ 1127.34191895]
train p_f prediction parameters results: [ 153.07151794  151.68377686  152.13023376  151.4624176   151.58625793
 -149.37677002  151.56509399  151.66526794  152.63194275 -150.87695312
  150.4405365  -149.40811157  151.34747314  151.01974487  148.94381714
  153.05444336  152.93586731  150.73669434  150.21853638  152.61885071
  151.70205688 -148.16261292  152.82321167  150.72984314 -149.95562744
  152.74403381  153.06869507  153.18495178  151.63731384  152.83789062
  150.11236572  151.32730103  153.16036987  148.82489014  151.64280701
  151.6187439   152.28111267 -150.92649841  151.92170715  148.13340759
  151.68637085 -150.41459656 -146.14602661  151.29307556  152.1390686
  152.84335327 -151.15698242 -147.12521362  149.77001953  151.9394989
  152.64131165  153.09629822  152.90077209  152.71621704  152.66537476
  152.65647888  148.22608948  150.16203308  150.94381714  150.29222107
  151.64981079]
test p_f prediction parameters results: [ 153.07151794  151.68377686  152.13023376  151.4624176   151.58625793
 -149.37677002  151.56509399  151.66526794  152.63194275 -150.87695312
  150.4405365  -149.40811157  151.34747314  151.01974487  148.94381714
  153.05444336  152.93586731  150.73669434  150.21853638  152.61885071
  151.70205688 -148.16261292  152.82321167  150.72984314 -149.95562744
  152.74403381  153.06869507  153.18495178  151.63731384  152.83789062
  150.11236572  151.32730103  153.16036987  148.82489014  151.64280701
  151.6187439   152.28111267 -150.92649841  151.92170715  148.13340759
  151.68637085 -150.41459656 -146.14602661  151.29307556  152.1390686
  152.84335327 -151.15698242 -147.12521362  149.77001953  151.9394989
  152.64131165  153.09629822  152.90077209  152.71621704  152.66537476
  152.65647888  148.22608948  150.16203308  150.94381714  150.29222107
  151.64981079]
iter:300, train_loss: -274585.375000, test_loss: -276586.000000
train D prediction parameters results: [ 1745.85620117]
test D prediction parameters results: [ 1746.10681152]
train p_f prediction parameters results: [ 236.56036377  235.17346191  235.61857605  234.95254517  235.07385254
 -232.87176514  235.05267334  235.15432739  236.12123108 -234.36195374
  233.92950439 -232.89389038  234.83752441  234.51078796  232.42312622
  236.54399109  236.4259491   234.22680664  233.7130127   236.10787964
  235.18838501 -231.65673828  236.31062317  234.22402954 -233.45314026
  236.23300171  236.55860901  236.67507935  235.12849426  236.32719421
  233.59931946  234.8135376   236.65119934  232.32302856  235.13252258
  235.10794067  235.77059937 -234.41288757  235.41061401  231.61206055
  235.17436218 -233.90707397 -229.651474    234.78366089  235.62786865
  236.33178711 -234.64814758 -230.60375977  233.26055908  235.42831421
  236.13044739  236.58584595  236.39085388  236.20526123  236.15359497
  236.14587402  231.69958496  233.65377808  234.43481445  233.78601074
  235.13600159]
test p_f prediction parameters results: [ 236.56036377  235.17346191  235.61857605  234.95254517  235.07385254
 -232.87176514  235.05267334  235.15432739  236.12123108 -234.36195374
  233.92950439 -232.89389038  234.83752441  234.51078796  232.42312622
  236.54399109  236.4259491   234.22680664  233.7130127   236.10787964
  235.18838501 -231.65673828  236.31062317  234.22402954 -233.45314026
  236.23300171  236.55860901  236.67507935  235.12849426  236.32719421
  233.59931946  234.8135376   236.65119934  232.32302856  235.13252258
  235.10794067  235.77059937 -234.41288757  235.41061401  231.61206055
  235.17436218 -233.90707397 -229.651474    234.78366089  235.62786865
  236.33178711 -234.64814758 -230.60375977  233.26055908  235.42831421
  236.13044739  236.58584595  236.39085388  236.20526123  236.15359497
  236.14587402  231.69958496  233.65377808  234.43481445  233.78601074
  235.13600159]
iter:400, train_loss: -501934.531250, test_loss: -504529.031250
train D prediction parameters results: [ 2358.63525391]
test D prediction parameters results: [ 2358.55761719]
train p_f prediction parameters results: [ 319.21212769  317.82263184  318.23080444  317.56311035  317.66531372
 -315.68865967  317.71520996  317.78048706  318.75094604 -317.04418945
  316.57434082 -315.66244507  317.55206299  317.24493408  314.99783325
  319.17468262  319.07745361  316.97113037  316.43148804  318.76113892
  317.75250244 -314.55517578  318.96310425  316.79119873 -315.99105835
  318.85015869  319.17706299  319.30633545  317.82147217  318.98080444
  316.15496826  317.48675537  319.30407715  314.77255249  317.82025146
  317.74832153  318.43249512 -317.13485718  318.03305054  314.06381226
  317.81906128 -316.51916504 -312.26571655  317.40350342  318.25027466
  318.9703064  -317.29476929 -313.30593872  315.91830444  318.0597229
  318.75408936  319.24066162  319.05419922  318.83276367  318.74942017
  318.81549072  313.73690796  316.2718811   316.98513794  316.63919067
  317.71313477]
test p_f prediction parameters results: [ 319.21212769  317.82263184  318.23080444  317.56311035  317.66531372
 -315.68865967  317.71520996  317.78048706  318.75094604 -317.04418945
  316.57434082 -315.66244507  317.55206299  317.24493408  314.99783325
  319.17468262  319.07745361  316.97113037  316.43148804  318.76113892
  317.75250244 -314.55517578  318.96310425  316.79119873 -315.99105835
  318.85015869  319.17706299  319.30633545  317.82147217  318.98080444
  316.15496826  317.48675537  319.30407715  314.77255249  317.82025146
  317.74832153  318.43249512 -317.13485718  318.03305054  314.06381226
  317.81906128 -316.51916504 -312.26571655  317.40350342  318.25027466
  318.9703064  -317.29476929 -313.30593872  315.91830444  318.0597229
  318.75408936  319.24066162  319.05419922  318.83276367  318.74942017
  318.81549072  313.73690796  316.2718811   316.98513794  316.63919067
  317.71313477]

# try process into dummy

In [2]:
#try process into dummy
tv_dummy=tv_info.copy()
#process IDs 
Yfinal=tv_dummy.iloc[:,3]
ID=[1138263,1139362,1139363,1141061,1142731,1143640,1144140,
        1148001,1148010,1148081,1162466,1162467,1162557,1162558,
        1162559,1163152,1163153,1164313,1164961,1164962,1165757,
        1166153,1166984,1166998,1167021,1167087,1167847,1167918,
        1170236,1170372,1170739,1173299,1174241,1174242,1174243,
        1174244,1174275,1174293,1174299,1174313,1174314,1174315,
        1174339,1174340,1175687,1175833,1175835,1175950,1177151]

for i in range(len(ID)):
    #print(tv_dummy['ID']==ID[i])
    tv_dummy.loc[tv_dummy['ID']==ID[i], 'ID']=i
    
tv_dummy['ID'] = tv_dummy['ID'].astype(str)
tv_dummy=pd.concat([tv_dummy, pd.get_dummies(tv_dummy.iloc[:, 0])], axis=1)     
#print(tv_dummy.columns.tolist())
#get dummy of weekday
temp_date=tv_dummy['Date'].values
tv_dummy['Date']=tv_dummy['Date'].dt.dayofweek
tv_dummy['Date'] = tv_dummy['Date'].astype(str)
#print(set(tv_dummy['Date'].values))
tv_dummy=pd.concat([tv_dummy, pd.get_dummies(tv_dummy['Date'])],  axis=1)
tv_dummy['Date']=temp_date

tv_dummy.head(10)

#get

,ID,Date,SalesQuantity,SalesQuantityLag1,SalesQuantityLag7,SalesQuantityLag14,Price,Discount,InventoryAvailability,WeekOfYear,...,7,8,9,0,1,2,3,4,5,6
0,0,2016-01-01,2,1,1,1,2626.270000,1.01,0.93,1,...,0,0,0,0,0,0,0,1,0,0
1,0,2016-01-02,6,2,1,1,2651.693980,1.01,0.93,1,...,0,0,0,0,0,0,0,0,1,0
2,0,2016-01-03,5,6,1,1,2774.575000,1.01,0.93,1,...,0,0,0,0,0,0,0,0,0,1
3,0,2016-01-04,6,5,1,1,2795.760000,1.01,0.93,2,...,0,0,0,1,0,0,0,0,0,0
4,0,2016-01-05,2,6,1,1,2795.760000,1.01,0.93,2,...,0,0,0,0,1,0,0,0,0,0
5,0,2016-01-06,1,2,1,1,2795.760000,1.01,0.93,2,...,0,0,0,0,0,1,0,0,0,0
6,0,2016-01-07,6,1,1,1,2880.506000,1.01,0.93,2,...,0,0,0,0,0,0,1,0,0,0
7,0,2016-01-08,2,6,2,1,2965.250000,1.01,0.93,2,...,0,0,0,0,0,0,0,1,0,0
8,0,2016-01-09,5,2,6,1,2772.457500,1.01,0.93,2,...,0,0,0,0,0,0,0,0,1,0
9,0,2016-01-10,7,5,5,1,2824.009967,1.01,0.93,2,...,0,0,0,0,0,0,0,0,0,1

In [7]:
#get corresponding top 9 substitute price and sale
usim=tv_sim.copy()
tv_dum_copy=tv_dummy.copy()
tv_dummy = tv_dummy.assign(sim0=np.nan, sim1=np.nan, sim2=np.nan, sim3=np.nan, sim4=np.nan, 
                            sim5=np.nan, sim6=np.nan, sim7=np.nan, sim8=np.nan, sim9=np.nan, 
                            sim10=np.nan, sim11=np.nan, sim12=np.nan, sim13=np.nan, sim14=np.nan, 
                            sim15=np.nan, sim16=np.nan, sim17=np.nan)

def find_idx(i):
    idx = np.array(tv_dummy.index[tv_dummy.iloc[:,1]==tv_dummy.iloc[i,1]].tolist())
    index = list(map(int, tv_dummy[tv_dummy.iloc[:,1]==tv_dummy.iloc[i,1]].ID.values))
    diff = list(set(ID)-set(index))
    return index, idx, diff

ID=list(range(NumSKU))

for i in range(len(tv_dummy)): #will take a long time!!! 
#for row in df.itertuples(): or try
    if i%500==0: 
        print('In progress:', i)
        
    index, idx, diff=find_idx(i)
    for di in diff:
        usim.iloc[int(tv_dummy.iloc[i, 0]), di] = 10000000000
    temp = usim.iloc[int(tv_dummy.iloc[i, 0]),:].values
    M = sorted(temp)
    I = np.argsort(temp)
    for j in range(9):
        try:
            tv_dummy.iloc[i, 69+j*2: 69+j*2+2]=tv_dummy.iloc[idx[np.array(index==I[j])][0],6:8].values
        except:
            pass
        
tv_dummy.iloc[0:2, 69:].head()

In progress: 0
In progress: 500
In progress: 1000
In progress: 1500
In progress: 2000
In progress: 2500
In progress: 3000
In progress: 3500
In progress: 4000
In progress: 4500
In progress: 5000
In progress: 5500
In progress: 6000
In progress: 6500
In progress: 7000
In progress: 7500
In progress: 8000
In progress: 8500
In progress: 9000
In progress: 9500
In progress: 10000
In progress: 10500
In progress: 11000
In progress: 11500
In progress: 12000
In progress: 12500
In progress: 13000
In progress: 13500
In progress: 14000
In progress: 14500
In progress: 15000
In progress: 15500
In progress: 16000
In progress: 16500
In progress: 17000
In progress: 17500
In progress: 18000
In progress: 18500
In progress: 19000
In progress: 19500
In progress: 20000
In progress: 20500
In progress: 21000
In progress: 21500
In progress: 22000
In progress: 22500
In progress: 23000
In progress: 23500
In progress: 24000

IndexError: single positional indexer is out-of-bounds

In [54]:
for i in range(len(info)):
    usim=sim
    row,col=np.where(info[:,2]==info[i,2])
    index=[info[row,1], row]
    diff=setdiff1d(ID,index[:,1])
    usim[info[i,1],diff]=10000000000
    for j in range(9):
        M, I= msort(usim[info[i,1],:],'ascend')
        r, c=np.where(index[:,1]==I[j])
        info[i,NumVar+NumSKU+5+(j-1)*2:NumVar+NumSKU+5+(j-1)*2+1]=info[index(r,2),7:8]


final=info[:,4:end]
finalSens=final
#     for i in range(3):
#         finalSens{i}=(final)

for i in range(5):
    finalSens[1][:,64+(i-1)*2]=0.95*finalSens[1][:,64+(i-1)*2]
    finalSens[2][:,64+(i-1)*2]=1.05*finalSens[2][:,64+(i-1)*2]

mu=np.zeros(1,size(final,2))
sd=np.zeros(1,size(final,2))
                   
for i in range(len(final)):
    mu[1,i]=mean(finalSens[0][:,i])
    sd[1,i]=std(finalSens[0][:,i])

 
    for j in range(3):
        for i in range(len(final)):
            if np.std(1,i)>0:
                finalSens[j][:,i]=(finalSens[j][:,i]-mu[1,i])/np.std(1,i)
            if np.std(1,i)==0:
                finalSens[j][:,i]=0

24697

TypeError: descriptor 'toordinal' requires a 'datetime.date' object but received a 'Series'

# full original script!!

In [48]:
from datetime import date


info=tv_info.copy()

for y in range(10):   #run ten times
    #info = pd.read_excel('Television.xlsx', sheet_name='Main')
    #sim = pd.read_excel('Television.xlsx', sheet_name='Similarity')
    print(y)
    Yfinal=info.iloc[:,3] #2 or 3?
    print(len(info))
    info.iloc[:,NumVar+1:NumVar+NumSKU-1]=np.zeros((len(info),NumSKU-1))
    matrix = np.zeros((NumSKU, NumSKU))
    for i in range(NumSKU):
        sim[i,i]=1000000
        
    
       
    for i in range(len(info.iloc[:,0])):
        for j in range(len(ID)):
            if info.iloc[i,0]==ID[j]:
                info.iloc[i,0]=j

    ID=list(range(NumSKU))
    
    for i in range(len(info)):
        for j in range(NumSKU-1): #dummy ids
            if info.iloc[i,0]==j:
                info[i,NumVar+j]=1
 
    for i in range(len(info)):
        d=date.toordinal(info.iloc[:,1])

    binaries=np.zeros(len(info,1),6)
    
    for i in range(6):
        for j in range(len(info)):
            if d[j]==i:
                binaries[j,i]=1
            else:
                binaries[j,i]=0
#feature descriping wether is weekday   #dummy weekdays 
    info[:,NumVar+NumSKU-1:NumVar+NumSKU+4]=binaries
    usim=tv_sim.copy()
    
    for i in range(len(info)):   #also dummying?   
        row,col=np.where(info[:,2]==info[i,2])
        index=[info[row,0], row]
        diff=setdiff1d(ID,index[:,1])
        usim[info[i,0],diff]=10000000000
        for j in range(9):
            M, I= msort(usim[info[i,0],:],'ascend')
            r, c=np.where(index[:,1]==I[j])
            info[i,NumVar+NumSKU+5+(j-1)*2:NumVar+NumSKU+5+(j-1)*2+1]=info[index(r,2),7:8]


    final=info[:,4:end]  #select processed data from column 4
    finalSens=final
#     for i in range(3):
#         finalSens{i}=(final)

    for i in range(5):
        finalSens[1][:,64+(i-1)*2]=0.95*finalSens[1][:,64+(i-1)*2]
        finalSens[2][:,64+(i-1)*2]=1.05*finalSens[2][:,64+(i-1)*2]

    mu=np.zeros(1,size(final,2))
    sd=np.zeros(1,size(final,2))
                   
    for i in range(len(final)):
        mu[1,i]=mean(finalSens[0][:,i])
        sd[1,i]=std(finalSens[0][:,i])

 
        for j in range(3):
            for i in range(len(final)):
                if np.std(1,i)>0:
                    finalSens[j][:,i]=(finalSens[j][:,i]-mu[1,i])/np.std(1,i)
                if np.std(1,i)==0:
                    finalSens[j][:,i]=0

0
24697

ValueError: Must have equal len keys and value when setting with an ndarray